body{
    background-color: $backgroundColor;
    font-family: $font-family;
    font-size: $font-size;
    color: $text;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main{
    margin: 50px auto;
    display: flex;
    flex-flow: column nowrap;
}

.board{
    width: 100%;
    margin: auto;
    text-align: center;
}

.title{
    font-family: $font-family;
    font-size: $font-large-size;
    color: $text-display;
    margin: 0px;
}

.points{
    line-height: $font-large-size;
    vertical-align: middle;
}

.header{
    margin: 50px auto;
    max-width: 600px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.new-game{
    border: 2px solid $divider;
    border-radius: 2px;
    background-color: $divider;
    padding: 10px 5px;
    height: fit-content;
    color: $text-reverse;
    max-width: 250px;
    cursor: pointer;
    align-self: center;
}

.game-over{
    display: none;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    z-index: 2;
    font-size: $font-large-size*2;
    text-align: center;
    background-color: rgba($divider, 0.8);
    color: $text-reverse;
    &--active{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }
}