$backgroundColor: #f1e1e1;
$divider: #494949;
$text: #393939;
$text-display: #454545;
$text-reverse: #F8F8F8;

$tile-empty: #595959;
$tile-2: #998888;
$tile-4: #aa9988;
$tile-8: #cc9988;
$tile-16: #dd8888;
$tile-32: #ff9988;
$tile-64: #ffaa88;
$tile-128: #ffbb77;
$tile-256: #ffcc77;
$tile-512: #ffdd66;
$tile-1024: #ffee55;
$tile-2048: #ffff44;

$font-family: 'Helvetica, Arial, sans-serif';
$font-large-size: 48px;
$font-size: 18px;
$font-small-size: 12px;

:export {
    backgroundColor: $backgroundColor;
    dividerColor: $divider;
    textColor: $text;

    tileEmpty: $tile-empty;
    tile2: $tile-2;
    tile4: $tile-4;
    tile8: $tile-8;
    tile16: $tile-16;
    tile32: $tile-32;
    tile64: $tile-64;
    tile128: $tile-128;
    tile256: $tile-256;
    tile512: $tile-512;
    tile1024: $tile-1024;
    tile2048: $tile-2048;

    fontFamily: $font-family;
    fontLargeSize: $font-large-size;
    fontSize: $font-size;
    fontSmallSize: $font-small-size;
}